.example-box {
  width: 200px;
  height: 200px;
  cursor: move;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url('src/assets/Pen_Pen.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}